BODY {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-top:10px;
}
TABLE {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
H3 {
font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
}


P {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:justify;
}


