.#markermenu{
width: 230px; /*width of menu*/
}
#markermenu ul{
list-style-type: none;
margin: 5px 0;
padding: 0;
width:220px;
}
#markermenu li a{
font: bold 11px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
color: #00014e;
display: block;
padding: 3px 0;
padding-left: 20px;
text-decoration: none;
border: 3px solid #E7F0F5;
margin-bottom:5px;
margin-top:2px;
}

#markermenu li a:visited, #markermenu ul li a:active{
color: #00014e;
}

#markermenu li a:hover{
color: black;
background:#ffffcb url(../images/arrow-list-red.gif) no-repeat left ;
}

#markermenu li a:active{
background:#ffffcb;
}
#markermenu li a:focus{
background:#ffffcb;
}

* html #markermenu li a{ /*IE only. Actual menu width minus left padding of LINK (20px) */
margin-bottom:0px;
margin-top:0px;
}

.h3_style{
  font: 200% bold 'Lucida Grande', 'Trebuchet MS', Verdana, Helvetica, sans-serif; 
  color: #2d2b2b;
  margin-bottom:2px;
  margin-left:20px;
}
.box_blue{
background: url(../images/glossyback.gif) repeat-x; height:20px; padding: 8px 5px 5px 5px; margin-left:10PX; margin-top:5px;
font: bold 11px 'Lucida Grande', 'Trebuchet MS', Verdana, Helvetica, sans-serif; color: #2d2b2b;
}
.box_blue_content{
background: #F7F9FD; border:#A4D1FF solid 5px;height:auto; padding: 8px 5px 5px 5px; margin-left:10PX; 
font: 11px 'Lucida Grande', 'Trebuchet MS', Verdana, Helvetica, sans-serif; color: #2d2b2b; height:auto;
}

.box_yellow{
background: url(../images/glossyyellow.gif) repeat-x; height:20px; padding: 8px 5px 5px 5px; margin-left:10PX; margin-top:5px;
font: bold 11px 'Lucida Grande', 'Trebuchet MS', Verdana, Helvetica, sans-serif; color: #2d2b2b;
}

.box_yellow_content{
background: #F7F9FD; border:#FFFFCC solid 5px;height:20px; padding: 8px 5px 5px 5px; margin-left:10PX; 
font: 11px 'Lucida Grande', 'Trebuchet MS', Verdana, Helvetica, sans-serif; color: #2d2b2b; height:auto;
}

.welcome{
padding: 8px 5px 5px 5px; margin-left:10PX; margin-top:10px;
font: bold 11px 'Lucida Grande', 'Trebuchet MS', Verdana, Helvetica, sans-serif; color: #2d2b2b;
width:500px; float:left;
}

.logout a{
padding: 8px 5px 5px 5px; margin-right:20PX; margin-top:10px;
font: bold 11px 'Lucida Grande', 'Trebuchet MS', Verdana, Helvetica, sans-serif; color:#666666;
float:right; text-decoration:none;
}

.logout a:hover{
color:#000000;
  
}

.box_new_leads{
background: #A6FFA6; height:auto; padding: 8px 5px 5px 5px; margin-left:2PX; margin-top:5px;
font: bold 11px 'Lucida Grande', 'Trebuchet MS', Verdana, Helvetica, sans-serif; color: #2d2b2b;
border:#003300 solid 1px;
}

.box_new_leads_content{
background: #F7F9FD; border:#999999 solid 1px;height:auto; 
font: 11px 'Lucida Grande', 'Trebuchet MS', Verdana, Helvetica, sans-serif; color: #2d2b2b; height:auto;
padding-left:2px;
padding-top:5px;
}

.leads_wrapper
{
  display: block;  height: 20px; padding: 2px;
  text-decoration:none;
  font: 11px 'tahoma';
  color: #2d2b2b;
  margin-bottom:2px;
}

.leads_wrapper:hover
{
  background:#FFFFCC;

}

.leads_wrapper_label
{
  height:20px;
  border:#CCCCCC solid 1px;
  display:block;
  float:left;
  padding-top:2px;
  padding-left:2px; 
}

.box_contacted_leads{
background:#6FDBFB; height:auto; padding: 8px 5px 5px 5px; margin-left:2PX; margin-top:5px;
font: bold 11px 'Lucida Grande', 'Trebuchet MS', Verdana, Helvetica, sans-serif; color: #2d2b2b;
border:#003300 solid 1px;
}

.box_client_leads{
background:#FFA6A6; height:auto; padding: 8px 5px 5px 5px; margin-left:2PX; margin-top:5px;
font: bold 11px 'Lucida Grande', 'Trebuchet MS', Verdana, Helvetica, sans-serif; color: #2d2b2b;
border:#003300 solid 1px;
}

#form_info{
  margin-left:40px;
}

#form_info p{
  margin-top:5px;
  margin-bottom:5px; 
}

#form_info label{
  display:block; width:150px;float: left; padding-right: 20px;font-size:11px; text-align:right;
}

#form_info text
{
    BORDER-RIGHT: #1c5180 1px solid;
    BORDER-TOP: #1c5180 1px solid;
    BORDER-LEFT: #1c5180 1px solid;
    BORDER-BOTTOM: #1c5180 1px solid;
   font: 11px 'Lucida Grande', 'Trebuchet MS', Verdana, Helvetica, sans-serif; color: #2d2b2b;
}

#page_desc{
font: 11px 'Lucida Grande', 'Trebuchet MS', Verdana, Helvetica, sans-serif; color: #2d2b2b;
margin:10px;
padding:10px;
text-align:justify;
border:#EBEBEB dashed 1px;

}

#page_desc p{
margin-bottom:5px;
margin-top:3px;
}

#page_desc ul{ margin-bottom:4px; margin-top:3px;}
