<div class="inmodal">
	<div class="modal-header">
		<h4 class="modal-title">Add Item From Timesheet</h4>
		<small class="font-bold">Select month and year.</small>
	</div>
	<div class="modal-body">

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Select Timesheet Date</h3>
			</div>
			<div class="panel-body">
				<div class="form-group col-md-12">
					<select class="form-control" ng-model="selected_timesheet_date" ng-change="loadTimesheetItems()" ng-options="month as month.label for month in months"></select>
				</div>

			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Resulting Items</h3>
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th width="6%"></th>
								<th width="15%">Dates</th>
								<th width="40%">Name and Description</th>
								<th width="15%">Number of Hours / Quantity</th>
								<th width="10%">Hourly Rate</th>
								<th width="10%">Amount</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in items">
								<td><input ng-model="item.selected" type="checkbox"></td>
								<td>{{item.selected_date.startDate.toISODate()}} {{item.selected_date.endDate.toISODate()}}</td>
								<td>{{item.description}}</td>
								<td>{{item.quantity | number:2}}</td>
								<td>
									<i ng-if="currency ==='AUD'" class="fa fa-dollar"></i>
									<i ng-if="currency ==='USD'" class="fa fa-usd"></i>
									<i ng-if="icurrency ==='GBP'" class="fa fa-gbp"></i>
									{{item.unit_price | number:2}}
								</td>
								<td>
									<i ng-if="currency ==='AUD'" class="fa fa-dollar"></i>
									<i ng-if="currency ==='USD'" class="fa fa-usd"></i>
									<i ng-if="currency ==='GBP'" class="fa fa-gbp"></i>
									{{item.getAmount() | number:2}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
			<div class="panel-footer">
				<button type="button" class="btn btn-default" ng-click="select_all()">
					Select All
				</button>
				<button type="button" class="btn btn-default" ng-click="deselect_all()">
					Deselect All
				</button>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="cancel()">
			Close
		</button>
		<button type="button" class="btn btn-primary" ng-click="add_items()">
			Add
		</button>
	</div>
</div>