<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Test</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
               <label>This is a test</label>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button data-style="zoom-in" class="ladda-button btn btn-primary"><strong>OK</strong></button>
        <button type="button" class="btn btn-white" ng-click="close_alert()">Close</button>
    </div>
</div>



<div class="modal-header">
    <h3 class="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <label>This is a test</label>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>