@charset "utf-8";
/* CSS Document */

#search_form_container{
	text-align:center;
}

#search_form_container button{
	margin-bottom:10px;
}


#search_result{
	margin:auto;
	width:60%;
}


.sa_container{
	margin:auto;
	width:90%;
}

#sa_quote_container, #sa_quote_display{
	display:block;
	background:#FFF;
	border:#CCC solid 1px;
}

#sa_quote_container{
	width:37%;
	float:left;
}

#sa_quote_display{
	float:right;
	width:62%;
}

#sa_quote_container th{
	text-align:center !important;
}

#sa_quote_container tr.details{
	cursor:pointer;
}

#sa_quote_container tr.selected{
	background:#00F !important;
}



#sa_quote_container td{
	font-size:12px;
}

#sa_quote_container span{
	font-size:10px;
}

.borderless td {
	border: none;
}

.build_sa_result{
	padding:10px;
}

.build_sa_result p{
	margin: 5px 0 0;
}

.build_sa_result label{
	float:left;
	width:76px;
	margin-right:10px;
	color:#999;
}

#service_agreement_details_edit_form{
	background:#D4D4D4; 
	border:#D4D4D4 ridge 2px; 
	padding:10px; 
	position:absolute; 
	width:40%;
}

#service_agreement_details_edit_form textarea{
	height: 80px; 
	width: 97%;
}