@CHARSET "ISO-8859-1";
.finish-button{
	height:40px;
	padding:5px 10px;
	width:auto;
	background:url(../images/buttons_skin.png) repeat-x transparent;
	cursor:pointer;
	border:none;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	color:#fff;
	font-weight:bold;
}
.shodow_out_8{
	position:absolute;
	width:900px !important; 
	background:#fff; 
	filter:alpha(opacity=50);
	 -moz-opacity:0.5;
	 -khtml-opacity: 0.5;
	 opacity: 0.7;
	 
}