/* CSS Document */
#agent_list{
	margin-top:20px;
}
#agent_list td ul{
	margin-top:0px;
	margin-bottom:0px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:20px;
}


.draggable
{
	background-color:#CA0000;
	border-top:#CA0000 solid 1px;
	border-left:#CA0000 solid 1px;
	border-right:#CA0000 solid 1px;
	border-bottom:#CA0000 solid 1px;
	display:none;
	position:absolute;
	width:800px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
    color: white;
    cursor: move;
    top: 200px;
}


.BD_header{
	font-weight:bold;
	padding:3px;
}

.BD_content{
	background:#FFFFFF;
	padding:5px;
	color:#000000;
	margin-top:10px;
	cursor:auto;
}

/****/
h1 {
    font-size: 2em;
    color: #4B4545;
    text-align: center;
}


.blue { background: blue; }
.green { background: green; }
.red { background: red; }
.white
{
    background: white;
    border: 1px solid black;
    color: black;
}

