<div id="modal-instant-email" class="inmodal" tabindex="-1" role="dialog" aria-hidden="true" style="border-radius:20px;">



    <div class="modal-header" style="margin-top:-10px;line-height: 0;padding:15px 0px 10px 0px !important;">
        <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
        <h4 class="modal-title">Send Service Agreement</h4>
    </div>


    <form>
        <!--<form class="form-horizontal" role="form" method="post" enctype="multipart/form-data" novalidate ng-submit="SendMail()">-->
        <div class="modal-body" style="height:auto;">

            <!--<div class="row" style="margin-bottom:15px;">-->
            <!--<div id='orig_modal' style='display:none'>-->

            <!--<div style="float:right">-->
            <!--<p>Attach File :&nbsp;&nbsp;<input type="file" name="file" id="file" style="display:inline-block" /></p>-->

            <!--</div>-->


            <!--</div>-->

            <!--</div>-->


            <div class="row" style="margin-bottom:15px;">

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label for="email_to">To:</label>
                    <input class="form-control" ng-model="formData.To" type="text" placeholder="ex.: sample@gmail.com">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label for="email_field">CC:&nbsp;<span class="checkSC" ng-if="hiring_coordinator === null">*no hiring coordinator</span></label>
                    <input class="form-control" ng-model="formData.Cc"  type="text" placeholder="ex.: sample@gmail.com">
                </div>
            </div>
            <div class="row" style="margin-bottom:15px;">
                <div class="col-lg-12 m-b">

                    <input class="form-control" ng-model="formData.Subject" type="text" placeholder="Subject">

                </div>
            </div>

            <div class="row">


                <div class="col-lg-12 m-b">
                    <!--<input type="file" id="uploadBtn"  onchange="angular.element(this).scope().uploadFile(this.files)"/>-->
                    <!--&lt;!&ndash;onchange="angular.element(this).scope().uploadFile(this.files)"&ndash;&gt;-->



                    <input style="display:none!important;" type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1"  onchange="angular.element(this).scope().uploadFile(this.files)" />
                    <label for="file-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3
            11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4
            1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span id="choose">Choose a file&hellip;</span></label>
                    <strong style="display:none !important;position:absolute;font-size:15px;cursor: pointer;" id="close" ng-click="close()">x</strong>    &nbsp;
                </div>



            </div>


            <div class="row" style="margin-bottom:15px;">
                <div class="col-lg-12 m-b">

                    <!--<textarea ng-model="formData.body" style="width: 100%;height: 255px;"></textarea>-->

                    <div class="form-group" style="margin:0px;">


                        <div ng-change="" summernote class="summernote"  ng-model="formData.sa_semail" config="optionsSendEmail">
                            <!-- <textarea style="height: 300px;width: 100%;" ng-model="formData.eval_note_value"></textarea> -->

                        </div>
                    </div>


                </div>
            </div>



            <!--<div class="row">-->
            <!--<div class="col-lg-1 m-b"></div>-->
            <!--<div class="col-lg-10 m-b">-->
            <!--<label></label>-->
            <!--&lt;!&ndash;<form action="" class="dropzone"  enctype="multipart/form-data" drop-zone="saEmail_dropzone" id="file-dropzone" ></form>&ndash;&gt;-->
            <!--</div>-->

            <!--<div class="col-lg-1 m-b"></div>-->

            <!--</div>-->

        </div>
        <div class="modal-footer" style="">
            <button type="button" class="btn btn-white" ng-click="close_quote_details()">Close</button>
            <button type="submit" class="btn btn-primary" ladda="loading6" ng-click="SendMail()" >Send Email</button>
        </div>

    </form>

    {{formData.file}}

</div>

