<div ng-controller="CreateTimesheetController as create_timesheet">
	<div class="row  border-bottom white-bg dashboard-header">
	    <div class="col-sm-12">
	    	<h3>Create Timesheet</h3>
	    </div>
	</div>
	
	<div class="wrapper wrapper-content animated fadeInRight">
		<!--<div class="row" ng-include="'views/common/create-timesheet/search-form.html'"></div>-->
		<div class="row" ng-include="'views/common/create-timesheet/table-result.html'"></div>
	</div>	
	
	<toaster-container></toaster-container>
</div>
