<div ng-controller="CurrencyAdjustmentController as ca">
	<div class="row  border-bottom white-bg dashboard-header">
	    <div class="col-sm-12">
	    	<h3>Currency Adjustment</h3>
	    </div>
	</div>
	
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row" ng-include="'views/common/currency-adjustment/search-form.html'"></div>
		<div class="row" ng-include="'views/common/currency-adjustment/table-result.html'"></div>
	</div>	
	
	<toaster-container></toaster-container>
</div>
