<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
			
                <div class="dropdown profile-element" dropdown>
                    <img alt="image" class="img-circle" src="//api.remotestaff.com.au/files/render-files-gridfs/?candidate_id={{admin_userid}}&type=image" width="48" height="48"/>
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{admin_name}}</strong>
                             </span>
                                <span class="text-muted text-xs block">{{admin_position}} <b class="caret"></b></span>
                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a ui-sref="profile">Profile</a></li>
                        <li><a ui-sref="contacts">Contacts</a></li>
                        <li><a ui-sref="inbox">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a href="../login.html">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                   	RS
                </div>
            </li>
            
            <li ng-class="{active: $state.includes('reports')}">
            	<a href="/portal/adminHome.php"><i class="fa fa-home"></i> <span class="nav-label">{{ 'Home' | translate }}</span></a>
            </li>
            
            <li ng-class="{active: $state.includes('reports')}">
                <a href="index.html"><i class="fa fa-dollar"></i> <span class="nav-label">{{ 'Client Invoice' | translate }}</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('dashboards')}">
                   <!--<li ui-sref-active="active"><a href="/portal/admin_prepaid_clients.php" target="_blank">{{ 'Prepaid Clients' | translate }}</a></li>-->
                   <!-- <li ui-sref-active="active"><a href="/portal/AdminRunningBalanceClientSearch/ClientSearch.html" target="_blank">{{ 'Client Available Balance Search' | translate }}</a></li>-->
                   <!-- <li ui-sref-active="active"><a href="/portal/AdminPrepaidInvoiceManagement/AdminPrepaidInvoiceManagement.html">{{ 'Prepaid Invoice Management' | translate }}</a></li>-->
                    <li ui-sref-active="active"><a ui-sref="invoice.clients">{{ 'Client Invoice Management' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="accounts.manage-payment-advise">{{ 'Manage Payment Advise' | translate }}</a></li>
                    <li ui-sref-active="active"><a href="/portal/django/accounts/">{{ 'Statement of Accounts' | translate }}</a></li>
                </ul>
            </li>
            
            <li ng-class="{active: $state.includes('reports')}">
                <a href="index.html"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">{{ 'Client Invoice Reporting' | translate }}</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('dashboards')}">
            		<li ui-sref-active="active"><a ui-sref="invoice.invoice-reporting">{{ 'Invoice Reporting' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="invoice.email-reporting">{{ 'Invoice Email Report' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="invoice.ready-for-release">{{ 'Invoice Auto Creation Report' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="invoice.invoice-payments">{{ 'Invoice Payments Paypal' | translate }}</a></li>
                </ul>
            </li>
            
            <li ng-class="{active: $state.includes('reports')}">
                <a href="index.html"><i class="fa fa-calendar"></i> <span class="nav-label">{{ 'Time Sheet Management' | translate }}</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('dashboards')}">
                    <li ui-sref-active="active"><a ui-sref="accounts.timesheet">{{ 'Time Sheet Management' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="accounts.lock-timesheet">{{ 'Lock / Unlock Time Sheet' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="accounts.create-timesheet">{{ 'Create Time Sheet' | translate }}</a></li>
                      <li ui-sref-active="active"><a href="{{complianceTimesheetUrl}}">{{ 'Timesheet Notes Management' | translate }}</a></li>
                </ul>
            </li>
            
            <li ng-class="{active: $state.includes('reports')}">
                <a href="index.html"><i class="fa fa-history"></i> <span class="nav-label">{{ 'Currency Adjustment' | translate }}</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('dashboards')}">
                    <li ui-sref-active="active"><a ui-sref="accounts.sra">{{ 'Apply Currency Adjustment' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="accounts.currency-adjustment">{{ 'Prepaid Clients Current Rate' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="accounts.currency-adjustment-regular-invoicing">{{ 'Old Client Current Rate' | translate }}</a></li>
                </ul>
            </li>
            
            <li ng-class="{active: $state.includes('reports')}">
            	<a href="/portal/django/subcontractors/subcons/active"><i class="fa fa-group"></i> <span class="nav-label">{{ 'List of Subcontractors' | translate }}</span></a>
            </li>
            
            <li ng-class="{active: $state.includes('reports')}">
            	<a href="/portal/django/commission/"><i class="fa fa-folder"></i> <span class="nav-label">{{ 'Manage Commission' | translate }}</span></a>
            </li>
            
            <li ng-class="{active: $state.includes('reports')}">
            	<a href="/portal/ticketmgmt/ticket.php?/index/open/&tab=0&ticket_csro=all&ticket_accounts=all"><i class="fa fa-ticket"></i> <span class="nav-label">{{ 'Ticket Reports' | translate }}</span></a>
            </li>
            
             <li ng-class="{active: $state.includes('reports')}">
             	<a href="/portal/compliance_v2/#/leave-request/dashboard"><i class="fa fa-calendar-o"></i> <span class="nav-label">{{ 'Leave Request Dashboard' | translate }}</span></a>
             </li>
             
             <li ng-class="{active: $state.includes('reports')}">
                    <a href="/portal/compliance_v2/#/leave-request/search"><i class="fa fa-calendar-o"></i> <span class="nav-label">{{ 'Search and Add Leave Request' | translate }}</span></a>
            </li>
            
        </ul>

    </div>
</nav>