<div ng-controller="QuoteDetailsController as quote_details_controller" class="wrapper wrapper-content">
	<div class="row  border-bottom white-bg dashboard-header">
	    <div class="col-sm-12">
	    	<h3>Quote Details</h3>
	    </div>
	</div>

	<div class="wrapper wrapper-content animated fadeInRight">


		<div ng-include="'views/common/quote/details/quote_details.html'"></div>
	</div>

	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row" ng-include="'views/common/quote/details/history.html'"></div>
	</div>

	<toaster-container></toaster-container>
</div>
