<div ng-controller="ClientListController as client_list_controller">
	<div class="row  border-bottom white-bg dashboard-header">
	    <div class="col-sm-12">
	    	<h3>Client List</h3>
	    </div>
	</div>
	
	<div class="wrapper wrapper-content animated fadeInRight">	
		
		<div class="row" ng-include="'views/common/invoice/clients/search-form.html'"></div>
		<div class="row" ng-include="'views/common/invoice/clients/result.html'"></div>
		
	</div>	
	
	<toaster-container></toaster-container>
</div>
