<div ng-controller="InvoiceReportingController as invoice_email_report">
    <style>
        .danger-red{
            background-color: red !important;
            color: white !important;
        }
        .danger-red a{
            background-color: red !important;
            color: white !important;
            text-decoration: underline !important;
        }
    </style>
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-sm-12">
            <h3>Client Invoice Email Reporting</h3>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <form id="search-email-invoice-form">
            <div class="row" ng-include="'views/common/invoice/invoice-reporting/search.html'"></div>
            <div class="row" ng-include="'views/common/invoice/invoice-reporting/report_table.html'"></div>
        </form>



    </div>

    <toaster-container></toaster-container>
</div>
