<div ng-controller="TrackController as invoice_tracking_controller">

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="col-lg-12">
            <div class="row">
                <div class="row" ng-include="'views/common/invoice/invoice-auto-creation-track/search.html'"></div>
                <div class="row" ng-include="'views/common/invoice/invoice-auto-creation-track/extra_details.html'"></div>
                <div class="row" ng-include="'views/common/invoice/invoice-auto-creation-track/result.html'"></div>
            </div>
        </div>
    </div>

    <br clear="all">
</div>
