<div style="overflow: hidden; padding-bottom: 20px;" ng-controller="RunningBalanceController as rbs">
	<div class="row  border-bottom white-bg dashboard-header">
	    <div class="col-sm-12">
	    	
	    	<h3>Running Balance Sheet {{ client.fname }} {{ client.lname }} </h3>
	    </div>
	</div>
	
	<div class="wrapper wrapper-content animated fadeInRight">
		
		<div ng-if="client_id === null" class="alert alert-danger" >
        	<p>Client id is Missing</p>
		</div>
		
		
					
		<div ng-if="client_id !== null" class="row" ng-include="'views/common/invoice/running-balance/search-form.html'"></div>		
		<div ng-if="client_id !== null" class="row" ng-include="'views/common/invoice/running-balance/result.html'"></div>				
       
       <!--
       <div ng-if="client_id !== null" class="col-lg-12">			
			<div class="row">
	        	<div style="margin-right :10px " class="row col-xs-13 col-md-9" ng-include="'views/common/invoice/running-balance/left-panel.html'"></div>
	        	<div class="row col-xs-5 col-md-3" ng-include="'views/common/invoice/running-balance/right-panel.html'"></div>
	        </div>				
        </div>
       -->
	</div>
	
	
		
	
	<toaster-container></toaster-container>
</div>
