<div ng-controller="ClientSettingController as client_setting">
	<div class="row  border-bottom white-bg dashboard-header">
	    <div class="col-sm-12">
	    	<h3>Client Setting</h3>
	    </div>
	</div>
	
	<div ng-if="client_id === null"  class="wrapper wrapper-content animated fadeInRight" >
		<div class="ibox float-e-margins">
			<div class="ibox-content">
        		<div class="alert alert-danger">
        			<p>Client id is Missing</p>		
        		</div>
        	</div>
        </div>		        	
	</div>
		
	<div ng-if="client_id !== null" class="wrapper wrapper-content animated fadeInRight">
		<div class="row" ng-include="'views/common/client-setting/form.html'"></div>
		<div class="row" ng-include="'views/common/client-setting/history.html'"></div>
	</div>	
	
	<toaster-container></toaster-container>
</div>