body {
    margin:0;
    padding:0;
    border:0;	/* This removes the border around the viewport in old versions of IE */
    width:100%;
    background:#fff;
    min-width:600px;    /* Minimum width of layout - remove line if not required */
	/* The min-width property does not work in old versions of Internet Explorer */
	font-size:12px;
}
a, a:active, a:link { color:#369; text-decoration:none;	}

h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {margin:10px 0 5px;}
	/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
}
#header{border-bottom:1px solid #000;}
#header p,
#header h1,
#header h2 {
	padding:.4em 15px 0 15px;
	margin:0;
}
#header ul {
	clear:left;
	float:right;
    /*width:100%;*/
    list-style:none;
    margin:0;
    padding:0;
	right:15px;
	position:absolute;
	z-index:99;
	line-height:10px;
}
#header ul li {
    display:inline;
    list-style:none;
    margin:0;
    padding:0;
	
}
#header ul li a {
    display:block;
    float:left;
    margin:0 0 0 1px;
    padding:3px 10px;
    text-align:center;
    background:#eee;
    color:#000;
    text-decoration:none;
    /*position:absolute;*/
    right:15px;
	/*line-height:1.3em;*/
	z-index:999;
}
#header ul li a:hover {
    background:#369;
	color:#fff;
}
#header ul li a.active,
#header ul li a.active:hover {
    color:#fff;
    background:#000;
    font-weight:bold;
}

#header ul li div {
display: none;
}

/*#header ul li:hover div {
display: block;
}*/

#header ul li a span {display:block;}

.submenu {
	/*background:#ccc;*/
	float:left;
	right:1px;
	position:absolute;
	top:23px;
	z-index:99;
	/*width:100%;*/
}

#header ul li a { border-left: solid 1px #aaa; }
#header ul li a:first-child { border: 0px; }

/*.submenu li.over ul ul, .menu li.over ul ul ul {
	display: none;
}

	.menu li.over ul, .menu ul li.over ul, .menu ul ul li.over ul
	{
		display: block;
	}
*/
/*.submenu a {float:left;}*/

/* 'widths' sub menu */
#layoutdims {
	clear:both;
	background:#eee;
	border-top:4px solid #000;
	margin:0;
	padding:6px 0 !important;
	text-align:right;
	float:left;
	width:100%;
}
/* column container */
.colmask {
	position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
    clear:both;
    float:left;
       width:100%;			/* width of whole page */
	overflow:hidden;	/* This chops off any overhanging divs */
}
/* 1 column full page settings */
.fullpage {background:#fff;}
.fullpage .col1 {margin:0 15px;}
/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000;
}
#footer p {
	padding:10px;
	margin:0;
}