<div class="col-lg-12">
	<div class="ibox float-e-margins">
		
		<div class="ibox-content">
			
			<div class="row">
				<label style="color: red;">{{hasModified}}</label>
				<table class="table" style="border-top:#fff solid !important;">
					<tr>
						<td width="35%">
							<span class="text-muted">To</span>
                			<h3><span class="badge">{{ invoice.client_id }}</span> {{ client_basic_info.lead_fname }} {{ client_basic_info.lead_lname }}</h3>
						</td>
						
						<td>
							<span class="text-muted">Date Created</span>
                			<h3>{{ invoice.added_on | date:'MMM dd, yyyy'  }}</h3>
                		</td>
						<td>
							<span class="text-muted">Due Date</span><br>
                			<h3>{{ invoice.pay_before_date | date:'MMM dd, yyyy' }}</h3>
						</td>
						
                		
                		<td>
							<span class="text-muted">Send Invoice Reminder</span><br>
                			<h3 ng-if="invoice.disable_auto_follow_up ==='Y'">Yes</h3>
                			<h3 ng-if="invoice.disable_auto_follow_up ==='N'">No</h3>
                		</td>
                		
						<td class="text-right" width="15%">
							<span class="text-muted">Total Amount Due</span>
                 			<h3><i ng-if="invoice.currency ==='AUD'" class="fa fa-dollar"></i><i ng-if="invoice.currency ==='USD'" class="fa fa-usd"></i><i ng-if="invoice.currency ==='GBP'" class="fa fa-gbp"></i>{{ invoice.total_amount | number:2 }}</h3>
						</td>
					</tr>
					<tr ng-show="client_basic_info.company_address">
						<td colspan="6">
							<div>Address : {{ client_basic_info.company_address }}</div> 
							<span ng-show="client_basic_info.officenumber" class=""><i class="fa fa-phone"></i> {{ client_basic_info.officenumber }}</span>
							<span ng-show="client_basic_info.mobile" class=""><i class="fa fa-mobile-phone"></i> {{ client_basic_info.mobile }}</span>
						</td>
					</tr>
				</table>
                
            </div>
            
            
            <div class="row">
            	<table class="table table-bordered table-striped">
            		<thead>
            			<tr>
            				<th width="6%">Item No.</th>
            				<th width="10%">Item Type</th>
            				<th>Description</th>            				
            				<th width="17%" class="text-center">Date</th>           				
            				<th class="text-right">Quantity</th>
            				<th width="9%" class="text-right">Unit Price</th>
            				<th width="9%" class="text-right">Amount</th>
            			</tr>
            		</thead>
            		<tbody>
            			<tr ng-repeat="item in invoice.items">
            				<td>{{ item.item_id }}</td>
            				<td>{{ item.item_type  }}</td>
            				<td>
            					<div>{{ item.description }}</div>
            					<div ng-show="item.commission_id">Commission #{{ item.commission_id }}</div>	
            				</td>            				
            				<td class="text-center">{{ item.start_date | date:'MMM dd, yyyy' }} -  {{ item.end_date | date:'MMM dd, yyyy' }}</td>            				
            				<td class="text-right">{{ item.qty }}</td>
            				<td class="text-right"><i ng-if="invoice.currency ==='AUD'" class="fa fa-dollar"></i><i ng-if="invoice.currency ==='USD'" class="fa fa-usd"></i><i ng-if="invoice.currency ==='GBP'" class="fa fa-gbp"></i>{{ item.unit_price | number:4}}</td>
            				<td class="text-right"><i ng-if="invoice.currency ==='AUD'" class="fa fa-dollar"></i><i ng-if="invoice.currency ==='USD'" class="fa fa-usd"></i><i ng-if="invoice.currency ==='GBP'" class="fa fa-gbp"></i>{{ item.amount | number:2 }}</td>
            			</tr>
            		</tbody>
            	</table>
            </div>
            
            
            <div class="row" >
                <div class="col-xs-12 col-sm-6 col-md-8">
                	<div class="row">&nbsp;</div>                	
                </div>
                <div class="col-xs-6 col-md-4 text-right">
                	 <div class="row">
                	 	<div class="col-xs-7 col-md-7 text-right">Sub Total</div>
                	 	<div class="col-xs-6 col-md-5 text-right"><i ng-if="invoice.currency ==='AUD'" class="fa fa-dollar"></i><i ng-if="invoice.currency ==='USD'" class="fa fa-usd"></i><i ng-if="invoice.currency ==='GBP'" class="fa fa-gbp"></i>{{ invoice.sub_total | number: 2 }}</div>	
                	 </div>
                	 <div class="row">
                	 	<div class="col-xs-7 col-md-7 text-right">GST</div>
                	 	<div class="col-xs-6 col-md-5 text-right"><i ng-if="invoice.currency ==='AUD'" class="fa fa-dollar"></i><i ng-if="invoice.currency ==='USD'" class="fa fa-usd"></i><i ng-if="invoice.currency ==='GBP'" class="fa fa-gbp"></i>{{ invoice.gst_amount | number: 2 }}</div>	
                	 </div>
                	 <div class="row border-bottom" style="padding-bottom:20px;">
                	 	<div class="col-xs-7 col-md-7 text-right">Total</div>
                	 	<div class="col-xs-6 col-md-5 text-right"><i ng-if="invoice.currency ==='AUD'" class="fa fa-dollar"></i><i ng-if="invoice.currency ==='USD'" class="fa fa-usd"></i><i ng-if="invoice.currency ==='GBP'" class="fa fa-gbp"></i>{{ invoice.total_amount | number: 2 }}</div>	
                	 </div>
                	 
                	 <div class="row border-bottom alert alert-warning">
                	 	<div class="col-xs-7 col-md-7 text-right"><h2>Amount Due</h2></div>
                	 	<div class="col-xs-6 col-md-5 text-right">
                	 		<h2><i ng-if="invoice.currency ==='AUD'" class="fa fa-dollar"></i><i ng-if="invoice.currency ==='USD'" class="fa fa-usd"></i><i ng-if="invoice.currency ==='GBP'" class="fa fa-gbp"></i>{{ invoice.total_amount | number: 2 }}
                	 		</h2>
                	 	</div>	
                	 </div>
                </div>
            </div>
            
            <div class="row">
            	<div class="col-xs-12 col-sm-6 col-md-8">
                	<p><span class="text-muted">Added By</span> <strong>{{ invoice.added_by }}</strong></p>               	
                </div>
            	
            </div>


		</div>
	</div>
</div>	