<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Add Comment/Notes</h4>
        
    </div>
    <div class="modal-body">
    	<form role="form" name="add_invoice_note_form" method="post" novalidate ng-submit="addInvoiceNote()">
    		
    		<div class="form-group">
                <textarea class="form-control" ng-model="invoice_note"></textarea>
            </div>
            
    		<div class="form-group">
    			<button data-style="zoom-in" class="ladda-button btn btn-primary" type="submit" ladda="loading5"><strong>Add</strong></button>
            	<button type="button" class="btn btn-white" ng-click="close_invoice_notes()">Close</button>
                
            </div>
    	</form>	
    </div>
</div>