<div ng-controller="SubconlistReportingController as slr">
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-sm-12">
            <h3>Subconlist Reporting As Of:</h3>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Advance Search</h5>
                    </div>
                    <div class="ibox-content">
                        <form role="form">
                            <div class="row">
                                <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <label>Select Date Range</label>
                                    <input type="text" placeholder="Select Dates" date-range-picker readonly class="form-control"
                                            ng-model="selected_date_range" min="'2012-01-01'" />
                                </div>
                                <div class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <label>&nbsp;</label>
                                    <button id="refreshBtn" class="btn btn-warning" ng-click="refreshForm()" style="width: 100%">
                                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                        Refresh Form
                                    </button>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <select chosen id="select_sc" class="form-control chosen-select" data-placeholder="Choose Staffing Consultant"
                                            ng-options="sc as (sc.admin_fname + ' ' + sc.admin_lname) for sc in sc track by sc.admin_id"
                                            ng-model="selectedSC">
                                    </select>
                                </div>
                                <div class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <select id="select_client" class="chosen-select" data-placeholder="Choose Client"
                                            ng-options="clients as (clients.fname + ' ' + clients.lname) for clients in clients track by clients.leads_id"
                                            ng-model="selectedClient" chosen multiple>
                                    </select>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="form-group col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                    <button id="submitSearch" type="button" class="btn btn-primary" ng-click="submitSearch()" ng-disabled="loading">Search</button>
                                </div>
                                <div ng-show="exportShow" class="form-group col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                    <a id="exportBtn" class="btn btn-default" target="_blank">Export</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="appendTable" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
        </div>
    </div>

    <toaster-container></toaster-container>
</div>
