@charset "utf-8";

div, td {
    font-family: Helvetica, sans-serif;
	/*font-family: "Trebuchet MS", verdana, arial, serif;*/
    font-size: 12px;
    padding-bottom: 0;
}

div#content{ float:left; width:670px;font-size:10pt;color: #000;
padding:12px;;margin-bottom:10px;font-family: Arial, Helvetica, sans-serif; line-height:20px; }

#footer_divider {
	float:left !important;
	margin:14px auto 8px;
	background-color: #D0E2F7;
    height: 2px;
    width: 100%;
	
}

div.tableheader {
  float:left;
  width:100%;
  border-bottom:1px solid #aaa;
  font-size:13pt;
  font-weight:bold;margin:.7em 0 .2em 0;
}

div.staffname {
  float:left;
  width:auto;
  font-size:12pt;
  font-weight:bold;margin:.7em 0 .2em 0;
}

div.date_range {
  float:right;
  font-size:13px;
  font-weight:bold;margin:1.5em 0 .2em 0;
}

div span.subtitle {
	color: #5794CC;
	margin: 10px 0 1px;
    padding-left: 30px;
	display: block;
	text-transform: uppercase;
	float:left;
	width:100%;
	text-decoration: underline;
	/*font-weight:bold;*/
}

.test_content {
	padding: 4px;
	/*font-size: 1.2em;*/
	height:400px;
	overflow:scroll;
    
	background:#fff;
}



#postlisthead{margin-top:10px;}

#tabular {
 margin: 0 auto;
 padding: 2px 0 2em 0;
 width: 100%;
 /*background: url(excel.png) no-repeat 50% 0;*/
}

#tabular table {
 width: 100%;
 border-collapse: collapse;
 table-layout: fixed;
 font: 100%;/* Arial, sans-serif;*/
 font-family: "Trebuchet MS", verdana, arial, serif;
}

#tabular table th {
 width: auto;
 background: #808080;
 text-align: center;
 color: #fff;
 padding:4px;
 border-right: 1px solid #808080;
}

#tabular table th.data {
 width: 150px;
 background: #fff;
}

#tabular table th.data span.hidden {
 position: absolute;
 top: -1000em;
}

#tabular table th span {
 /*display:block;*/
 font-size:9px;
 color:#ff0000;
 vertical-align:top;
}

#tabular table td span.paused {
 font-weight:bold;
 vertical-align:top;
}

#tabular table td span.asterisk {
 font-weight:bold;
 vertical-align:top;
 color:#ff0000;
}

#tabular table th a:active,
#tabular table th a:link,
#tabular table th a:visited {
	color:#fff;
}

#tabular table td {
 width: 100px;
 border: 1px solid #808080;
 text-align:center;
 font-size:12px;
 padding:2px;
}

#tabular table td.details {
  text-align:left;
}

#tabular table td img.icon {
  border:none;
  width:16px;
  height:16px;
  cursor:pointer;
}

#tabular table td input {
 display: block;
 width: 100%;
 border: none;
 font: 1em Arial, sans-serif;
 cursor: pointer;
 text-align:center;
}

#tabular table td input:focus {
 outline-style: none;
}

#tabular table td.number {
 width: auto;
 text-align: left;
 font-size: 1.2em;
 color: #666;
 border-bottom: 1px solid #808080;
 padding:2px;
 /*float:left;*/
}

#tabular table tr:hover{background-color:#ccc;/*7a9512*/text-decoration:none;}

.youarehere{background:#7a9512;}
.youarehere a{}

.stafflink a{display:block;text-decoration:none;}

.stafflink a:visited {text-decoration: none; }
.stafflink a:hover { color: #ff9900; text-decoration:none;}


table.list {
	width: 100%;
	float:left;
	/*border: 1px solid #CCCCCC;*/
}

table.list td.header {
	color: #FFFFFF;
	background-color: #4f81bd;/*436088*/
	font-weight: bold;
	font-size: 8pt;
	padding: 4px;
	/*padding-left: 8px;*/
	font-family: "Trebuchet MS", verdana, arial, serif;
	word-wrap: break-word;
}

table.list td.header a { color:#fff; }

table.list td.header a span { display:block; }

table.list td.item {
	font-size: 8pt;
	padding: 3px;
	/*padding-left: 8px;*/
	color: #333;
	vertical-align:top;
}


div.updated {float:right;width:75px;color:#ff0000;font-size:8px;}




table.list td.right{
	text-align:right;
}

table.stats {
	border: 1px solid #CCCCCC;
}

div.error {
	color: #FF0000;
	/*margin-bottom: 12px;*/
	font-weight: bold;
}

span.error {
	background: #FFF3F3;
	/*padding: 5px 7px 5px 7px;*/
	color: #FF0000;
}

.timepicker {background:#369;border:1px solid #aaa;width:150px;height:auto;position:absolute;line-height:30px;}

.inputbtn {
	border: 1px solid #aaa;
	padding: 2px;
	margin:0;
	color: #011a39;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}
.inputbtn {background-color: #FFFFAA;}