@CHARSET "ISO-8859-1";

.main {
	width: 90%;
	margin: 20px auto 0 auto;
	background: white;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 30px;
	padding-top:15px;
	border: 1px solid #adaa9f;
	-moz-box-shadow: 0 2px 2px #9c9c9c;
}

/*Features table------------------------------------------------------------*/
.features-table {
	width: 100%;
	margin: 0 auto;
	border-collapse: separate;
	border-spacing: 0;
	text-shadow: 0 1px 0 #fff;
	color: #2a2a2a;
	background: #fafafa;
	background-image: -moz-linear-gradient(top, #fff, #eaeaea, #fff);
	/* Firefox 3.6 */
	background-image: -webkit-gradient(linear, center bottom, center top, from(#fff),
		color-stop(0.5, #eaeaea), to(#fff) );
}

.features-table td {
	line-height: 50px;
	padding: 10 20px;
	border-bottom: 1px solid #cdcdcd;
	box-shadow: 0 1px 0 white;
	-moz-box-shadow: 0 1px 0 white;
	-webkit-box-shadow: 0 1px 0 white;
	text-left: center;
	vertical-align: top;
}

/*Body*/
.features-table tbody td {
	text-align: left;
	font: normal 12px Verdana, Arial, Helvetica;
	width: 25% px;
}

.features-table tbody td:first-child {
	width: auto;
	text-align: left;
}

.features-table td:nth-child(2),.features-table td:nth-child(3),.features-table td:nth-child(4)
	{
	background: #efefef;
	background: rgba(144, 144, 144, 0.15);
	border-right: 1px solid white;
}

.features-table td:nth-child(5) {
	background: #e7f3d4;
	background: rgba(184, 243, 85, 0.3);
}

/*Header*/
.features-table thead td {
	font: bold 1.3em 'trebuchet MS', 'Lucida Sans', Arial;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top: 1px solid #eaeaea;
}

.features-table thead td:first-child {
	border-top: none;
}

/*Footer*/
.features-table tfoot td {
	font: bold 1.4em Georgia;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom: 1px solid #dadada;
}

.features-table tfoot td:first-child {
	border-bottom: none;
}

.fadePage {
	display: none;
	z-index: 98;
	position: fixed;
	height: 100%;
	width: 100%;
	background: #000000;
	opacity: .6;
	filter: alpha(opacity = 60);
	margin: 0px;
	padding: 0px;
	top: 0;
	left: 0;
}

.login_container {
	margin: auto;
	z-index: 99;
	display: none;
	margin: auto;
	top: 30%;
	left: 35%;
	position: fixed;
}

.sprite-closebutton {
	background: url(images/sprite2.png) no-repeat top left;
	background-position: 0 0;
	width: 26px;
	height: 26px;
	float: right;
}

.login_popup {
	width: 350px;
	height: 225px;
	overflow: hidden;
	position: absolute;
	left: 23px;
	top: 30px;
}

.login {
	background: url('images/popupbg.png');
	width: 400px;
	height: 290px;
}

.formNotes {
	font-style: italic;
	font-size: 10px;
}

.buttonLeft {
	background: url(images/sprite4.png) no-repeat left;
	background-position: 0 -63px;
	width: 8px;
	height: 28px;
	float: left;
	margin-top: 1px;
}

.buttonRight {
	background: url(images/sprite4.png) no-repeat left;
	background-position: 0 -92px;
	width: 8px;
	height: 28px;
	float: left;
	margin-top: 1px;
}

.buttonContent {
	float: left;
	background: url(images/button.png) repeat-x;
	text-align: center;
	margin-top: 1px;
	font-weight: bold;
	padding-top: 8px;
	width: 90px;
	height: 28px;
	color: #ffffff;
	cursor: pointer;
}
.content{
	text-align:center;
}
.content h1, .content div{
	text-align:left;
}

table.price-list tr td, table.price-list tr th{
	text-align:center;
}
table.price-list tr td:nth-child(1){
	text-align:left;
	padding-left:0.5em;
}
table.price-list tr td.categories{
	font-weight:bold;
	text-align:center;
}
