<div class="col-lg-12">
	<div class="ibox float-e-margins">
		<div class="ibox-content">
			<div id="quote-container">

				<div>
					<div id="quote-details-result" class="table-responsive m-t">

						<div ng-if="!isFound">
							No record(s) found.
						</div>

						<div ng-if="isFound">
							<div ng-show="leads_data === null">

								Please wait...

							</div>
							<div ng-show="leads_data !== null">
								<div class="text-muted" ng-show="isUpdating">Updating List...</div>
								<table class="table invoice-table">
									<thead>
									<tr>
										<th>Client Details</th>
										<th class="text-center">Quotes</th>
										<th>Service Agreement</th>
									</tr>
									</thead>


									<tbody>

									<tr ng-repeat="item in leads_data | limitTo:limit">
										<td style="text-align: left !important;">
											<div><h3><a ng-click="generateQuoteMain(item.leads.id)">#{{item.leads.id}} {{item.leads.fname}} {{item.leads.lname}}</a></h3></div>
											<div class="text-muted">
												Email: {{item.leads.email}}<br>
												Status : {{item.leads.status}}<br>
											</div>

										</td>
										<td class="text-muted">
											<a href="/portal/sc_v2/#/quote/client/{{item.leads.id}}/draft">Pending({{item.count_data.draftCount}})</a>&nbsp;
											<a href="/portal/sc_v2/#/quote/client/{{item.leads.id}}/new">New({{item.count_data.newCount}})</a>&nbsp;
											<a href="/portal/sc_v2/#/quote/client/{{item.leads.id}}/posted">Posted({{item.count_data.postedCount}})</a>
											<!--<a href="/portal/sc_v2/#/quote/client/{{lead_details.leads_id}}/accepted">Accepted({{lead_details.accepted_count}})</a>-->
											<a href="/portal/sc_v2/#/quote/client/{{item.leads.id}}/deleted" >Deleted({{item.count_data.deletedCount}})</a>
										</td>
										<td class="text-muted">

											<a href="/portal/sc_v2/#/quote/service_agreement/{{item.leads.id}}/no" >Pending({{item.count_data.pendingCount}})</a>&nbsp;
											<a href="/portal/sc_v2/#/quote/service_agreement/{{item.leads.id}}/yes" >Accepted({{item.count_data.acceptedCount}})</a>&nbsp;
											&nbsp;
										</td>

									</tr>
									</tbody>

								</table>

								<center>
									<pagination
											ng-model="pagination.currentPage"
											max-size="pagination.maxSize"
											items-per-page="numPerPage"
											total-items="totalPages"
											boundary-links="true"
											direction-links="true"
											ng-change="pageChanged(pagination.currentPage)">
									</pagination>
								</center>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
