<div class="col-lg-12">
	<div class="ibox float-e-margins">
		<div class="ibox-title">
			<h5>Current Rate</h5>
			<br clear="all">
			<div class="text-muted">Click the box to update</div>
		</div>
		<div class="ibox-content">
			
			
			<div class="row">
			    			    
			    <div class="col-lg-4" ng-repeat="result in results">
			        <div class="widget style1 {{ result.bg_color }}" style="cursor: pointer;" ng-click="openModalCurrencyAdj(result)">
			            <div class="row vertical-align">
			                <div class="col-xs-3">			                    
			                    <!--<i class="fa {{ result.html_icon }} fa-3x"></i>-->
			                    <h2 class="font-bold">{{ result.currency }}</h2>
			                </div>
			                <div class="col-xs-9 text-right">
			                    <h2 class="font-bold">{{ result.sign }}{{ result.rate }}</h2>
			                    <!--<small>{{ result.currency }}</small>
			                    <br>-->
			                    <small ng-show="result.date_added">Since {{ result.date_added }}</small>
			                </div>
			            </div>
			        </div>
			    </div>
			    
			</div>

		</div>
	</div>
</div>	