<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Special Arrangements</h4>
        
    </div>
    <div class="modal-body" style="height: 226px; overflow-y: scroll;">
    	
    	<table width="100%" class="table table-bordered">
    		<tr ng-repeat="record in records">
    			<td>
    				<div><h4 class="text-center">Timesheet #{{ record.timesheet_id }}</h4></div>
    				<ol>
	    				<li ng-repeat="r in record.communication_records">
	    					<div class="pull-right">{{ r.date_added }}</div>
	    					<div>{{ r.admin_name }}</div>
	    					<div>{{ r.note }}</div>
	    					
	    				</li>
	    			</ol>
    			</td>
    		</tr>
    		
    	</table>
    	
    </div>
    
    <div class="modal-footer">
		
		<div class="row">
		    <div class="col-xs-12 col-sm-5 col-md-7 text-left">
		    	<textarea ng-model="reference_communication_note" style="width:117%; height: 70px;"></textarea>
		    </div>
		    <div class="col-xs-7 col-md-5">
		   
		    	<button data-style="zoom-in" class="ladda-button btn btn-warning" ng-click="add_communication_record()" ladda="loading6"><span class="ladda-label">Add</span><span class="ladda-spinner"></span><div class="ladda-progress" style="width: 0px;"></div></button>
				<button type="button" class="btn btn-white" ng-click="close_records()">Close</button>
		    </div>
	  	</div> 	
	</div>
</div>