
/* $Id: styles_global.css 2011-12-16 $ */


/* POPUP BOXES FOR SMOOTHBOX */
html, body {
min-height: 100%;
	height: auto !important;
	height: 100%;
	font-family: Verdana,Geneva,sans-serif; /*Arial, Helvetica, sans-serif;*/;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	margin-right:0px;
	margin-bottom:0px;
}
body, td, div {
	color: #333333;
}
div, td {
	font-family: Verdana,Geneva,sans-serif;
	padding-bottom:0px;
	font-size:11px;
}

#task-status {
  position:fixed;
  width:300px;
  height: auto;
  top:0;
  margin-left:-150px; /*200px;*/
  z-index: 999;
  font-size:12px;
  font-weight:bold;
  background:#ffff00;/*e3e0ac;*/
  padding-left:5px;
  text-align:center;
  display:none;
  left:50%;
}
#task-status span { color:#ff0000;}

/* IE6 
* html #TB_iframeContent{
	margin-bottom:1px;
}*/



/* TOOL TIPS */
.tip {
	color: #000;
	width: 220px;
	z-index: 13000;
	padding: 3px;
	border: 1px solid #CCCCCC;
	background: #fffeeb;
	text-align: left;
	font-size: 11px;
	padding: 4px 8px 8px;
}
.tip-text {
	display: none;
}
.tip-top {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #9FD4FF;
	padding: 8px 8px 4px;
}
 
.tip-bottom {

}

.Tips1 {
	vertical-align: middle;
}

td.form1 {
	/*vertical-align:baseline;*/
	text-align: right;
	font-size: 8pt;
	padding: 6px 4px 4px 4px;
}

td.form2 {
	padding: 4px;text-align:left;
	background:#ddd;
}

table.list {
	width: 100%;
	float:left;
	/*border: 1px solid #CCCCCC;*/
}
table.list td {
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}

div.updated {float:right;width:75px;color:#ff0000;font-size:8px;}

.inputbox {
	background-color: #FFFFAA;
	border: 1px solid #104383;
	padding: 2px;
	color: #011a39;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}
.inputbox2, .inputbtn {
	border: 1px solid #aaa;
	padding: 2px;
	margin:0;
	color: #011a39;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}
.inputbox2 {width:210px;background-color: #FFF;height:21px;}
.inputbtn {background-color: #FFFFAA;}

/*table.list td {
	color:#333;
}*/

/*table.list td span{
	color:#ff0000;
}*/

table.list td.right{
	text-align:right;
}

table.stats {
	border: 1px solid #CCCCCC;
}

div.error {
	color: #FF0000;
	margin-bottom: 12px;
	font-weight: bold;
}

span.error {
	background: #FFF3F3;
	/*padding: 5px 7px 5px 7px;*/
	color: #FF0000;
}



.nav{float:left;height:26px;font-size:13px;}.nav ul{margin:0;color:#4F81BD;padding:0;}
.nav li{display:block;float:left;margin-right:7px; padding:5px;}
.nav .youarehere{background:#7a9512;}.youarehere a{color:#fff;}
/*.nav li:hover{background-color:#7a9512;text-decoration:none;}*/
.nav a{color:#fff;display:block;text-decoration:none;}

.nav a:link { color: #4F81BD; text-decoration:none;}
.nav a:visited { color: #4F81BD;text-decoration: none; }
.nav a:hover { color: #ff9900; text-decoration:none;}

.main li:hover{background-color:#7a9512;text-decoration:none;}


.createticket, .createnote, .createemail{float:right;}
#nav-createticket, #create-comm-client, #create-comm-staff{margin-right:0px;background-color: #4f81bd;}

div#hmenu {float:left;width:30%;}

div.box {
	background: #F1F8FF;
	border: 1px solid #CCCCCC;
	padding: 10px;
}

div.center {
	text-align: center;
}

div.floatleft {
	float: left;
}

div.pages {
	padding-bottom: 5px;
}

div.pages2 {
	padding-top: 5px;
}

div.smallbox {
	padding: 5px; 
	border: 1px solid #CCCCCC; 
}

div.smallbox_header {
	padding: 2px 5px 2px 5px; 
	background: #EEEEEE;
	font-size: 8pt; 
}

div.smallbox_content {
	padding: 5px 5px 2px 5px;
}

h2 {
	margin-top: 0px;
	margin-bottom: 2px;
	font-size: 16pt;
	font-weight: normal;
}

h3 {
	margin-top: 0px;
	margin-bottom: 2px;
	font-size: 12pt;
	font-weight: normal;
}

input.button {
	background: #ddd;
	font-size: 9pt;
	font-family: "Trebuchet MS", verdana, arial, serif;
	font-weight: bold;
}

input.button_small {
	background: #EEEEEE;
	font-size: 8pt;
	font-family: "Trebuchet MS", verdana, arial, serif;
}

.text {
	font-size: 9pt;
	font-family: arial, verdana, serif;
}

textarea.template {
	width: 95%;
	padding: 5px;
	padding-top: 8px;
	font-family: courier, verdana, arial, serif;
}

textarea.text {
	font-family: arial, verdana, serif;
	padding: 2px;
	font-size: 9pt;
	border: 1px solid #104383;
}

form {
	margin: 0px;
}

img.icon, input.checkbox {
	vertical-align: middle;
}

img.icon2 {
	vertical-align: middle;
	margin-right: 5px;
}

font.large {
	font-size: 25pt;
}

font.large_gray {
	font-size: 25pt;
	color: #555555;
}

a:link { color: #333333;text-decoration:underline; /*336699;*/ }
a:visited { color: #333333;}
a:hover { color: #336699;}

a.header:link { color: #FFFFFF; }
a.header:visited { color: #FFFFFF; }
a.header:hover { color: #FFFFFF; }

a.menu:link { color: #333333; text-decoration: none; }
a.menu:visited { color: #333333; text-decoration: none; }
a.menu:hover { color: #336699; text-decoration: none; }

a.menu_header:link { color: #FFFFFF; text-decoration: none; }
a.menu_header:visited { color: #FFFFFF; text-decoration: none; }
a.menu_header:hover { color: #FFFFFF; text-decoration: none; }

.pane_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
	/*height:300px;*/
}
.pane_content, .pane_content2 {
	width:100%;
	padding: 0;
	/*font-size: 1.2em;*/
	height:auto;
	/*overflow:scroll;
    overflow-x: hidden;*/
	background:#fff;
}

div#filediv {
	float:left;
	width:100%;
	/*border: 1px solid #aaa;*/
}

td.header {
	color: #FFFFFF;
	background-color: #4f81bd;/*436088*/
	font-weight: bold;
	font-size: 9pt;
	padding: 4px;
	/*padding-left: 8px;*/
	font-family: "Trebuchet MS", verdana, arial, serif;
	word-wrap: break-word;
}

td.header a {
	color:#fff;
}

td.item {
	font-size: 8pt;
	padding: 5px 5px;
	/*padding-left: 8px;*/
	border-top: 1px solid #DDDDDD;
	color: #333;
	vertical-align:top;
}

td.summary {
	font-size: 8pt;
	/*padding-left: 8px;*/
	padding:3px;
	border-top: 1px solid #DDDDDD;
	color: #333;
	vertical-align:top;
}

td.label, td.label2 {
	font-size: 8pt;
	background-color: #d0d8e8;/*bcd3ff*/
	font-weight:bold;
	padding: 5px 12px;
	vertical-align:top;
	/*padding-left: 8px;*/
	border-top: 1px solid #DDDDDD;
	color: #333;
}
td.label{text-align:right;}

td.label2{text-align:left;}

td.hilite {background-color: #e9edf4;}
td.lolite {background-color: #fff;}
td.label span{color:#ff0000;}

.jqmWindow {
    display: none;
    
    position: fixed;
    top: 5%;
    left: 50%;
    
    margin-left: -400px;
    width: 800px;
    
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }


span.inplabel {
	color: #000;
	background-color: #bcd3ff;
	border:1px solid #436088;
	padding: 5px 2px 2px 4px;
	font-family: "Trebuchet MS", verdana, arial, serif;
	vertical-align:text-bottom;
	white-space:nowrap;
}

td.setting2 {
	background: #FFFFFF;
	padding: 10px;
	border: 1px solid #DDDDDD;
	border-top: none;
	background-color: #FFFFFF;
	background-image: url(../images/admin_setting.gif);
	background-repeat: repeat-y;
}

tr.background1 {
	background: #f4f9ff;
}

tr.background2 {
	background: #FFFFFF;
}

td.stat0 {
	background: #FFFFFF;
	font-size: 8pt;
	padding: 5px;
	padding-left: 8px;
	color: #666666;
}

#footer {
float:left;
margin-bottom: 0px;
padding-bottom: 0px;
background-color: #fff;
height: 54px;
clear: both;
width: 100%;
padding-top: 10px;


}

.footermain {
	float:left;
	padding-left:10px;
	width: 950px;
	height:inherit;
	/*border-top:3px solid #185793;
	border-bottom:3px solid #185793;*/
	text-align: left;
	line-height: 13px;
	font-size:9px;
	
}

button[disabled]:active, button[disabled],
input[type="reset"][disabled]:active,
input[type="reset"][disabled],
input[type="button"][disabled]:active,
input[type="button"][disabled],
select[disabled] > input[type="button"],
select[disabled] > input[type="button"]:active,
input[type="submit"][disabled]:active,
input[type="submit"][disabled] {
  /*padding: 0px 6px 0px 6px;*/
  background:#ddd;
  border: 1px outset ButtonFace;
  color: #999;
  cursor: inherit;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.hover_boxinfo1 {
position:absolute;
display:none;
width:auto;
height:auto;
padding:2px;
background-color: #ff9900;
border:1px solid #ffffcb;
z-index:999;
float:left;
}

/*td:hover {
    cursor:pointer;
}*/
.hover_box {
	display:none;
    border-width:1px;
    border-color:#000000;
    border-style:solid;
    background-color:#FFFF99;
	padding:5px;
}

div.popup-header {padding:10px 0 4px 15px;font-size:20px;font-weight:bold;color:#9ad700;}

#box-text {font-size:11px;text-align:left;line-height:15px;padding-bottom:9px;margin:12px 12px 0px 12px;}

#btns-holder {padding-left:20px;float:left;padding-bottom:12px;}
