<div ng-show="client_setting.status !=='no settings'">
	<div class="form-group">
		<label class="col-lg-2 control-label">Client Currency</label>
	    <div class="col-lg-3">
			<input type="text" disabled class="form-control" value="{{ client_setting.currency }}" />
	    </div>
		<label class="col-lg-3 control-label" style="width: 18%;">Apply GST</label>
	  
		<div class="col-lg-3">
			<div ng-show="client_setting.apply_gst ==='Y'">
				<input type="text" disabled class="form-control" value="Yes" />
			</div>
		  	<div ng-show="client_setting.apply_gst ==='N'">
				<input type="text" disabled class="form-control" value="No" />
			</div>
	  </div>
	</div>

</div>
<div ng-show="client_setting.status ==='no settings'">
	<div class="form-group">
		<label class="col-lg-2 control-label">Client Currency</label>
	    <div class="col-lg-3">
	    	<select class="form-control" ng-model="formData.currency">
	    		<option value="AUD">AUD</option>
	    		<option value="GBP">GBP</option>
	    		<option value="USD">USD</option>					
			</select>
	    </div>
		<label class="col-lg-3 control-label" style="width: 18%;">Apply GST</label>
	  
				  <div class="col-lg-3">
	  	<select class="form-control" ng-model="formData.apply_gst">
	    	<option value="Y">Yes</option>
	    	<option value="N">No</option>				
		</select>
	  </div>
	</div>
</div>