<div ng-controller="ComplianceDashboardController as dashb">
	<div class="row  border-bottom white-bg dashboard-header">
	    <div class="col-sm-12">
	    	<h3>Compliance Dashboard</h3>
	    </div>
	</div>
	
	<div class="wrapper wrapper-content animated fadeInRight">	
		
		<div class="row" ng-include="'views/common/compliance/dashboard/search-form.html'"></div>
		<div class="row" ng-include="'views/common/compliance/dashboard/result.html'"></div>
		
	</div>	
	
	<toaster-container></toaster-container>
</div>
